.App {
    background-color: #16213e;
    height: 100%;
    width: 100%;
    position: absolute;
    padding-bottom: 100%;
}

.user-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.users {
    width: 80%;
    margin: 100px auto auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.profileStyle {
    color: #f0f1f5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: black solid 1px;
    width: 300px;
    height: 500px;
    text-align: center;
    line-height: 1.8rem;
    padding-top: 20px;
}

.disc-profile {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #7692f7;
}

.container {
    width: 20px;
}

.btn {
    text-align: center;
    margin-top: 20px;
    padding-right: 20px;
    margin-left: 90px;
}